# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/
env/
.venv 2/
venv 2/

# macOS system files
.DS_Store

# Flask cache/log/temp files
*.log
*.pid
*.db
*.sqlite3
instance/
*.pyc

# Uploads and temp data
backend/uploads/
backend/__pycache__/
uploads/
tmp/

# Environment variables and credentials
.env
*.env

# IDE/editor config
.vscode/
.idea/

# OS-level thumbnail/cache files
Thumbs.db
ehthumbs.db
backend/secrets/firebase-adminsdk.json

# Ignore unnecessary local folders
CropHealthAI.git.bfg-report/
CropHealthAI.git/
logo/
